@charset "UTF-8";
/*faire les ... sur les textes*/
/*maps pour les breakpoints*/
/*responsive */
/*animation loader de chargement de la page*/
/*pour faire disparaitre le loader*/
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/*animations apparition des parties des menus*/
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*animation pour coche verte qui tourne*/
@keyframes checkspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
/*animation pour dots du loader*/
@keyframes loader {
  100% {
    transform: translateY(-50px);
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h1, h6 {
  font-family: "Shrikhand", sans-serif;
}

h3 {
  padding: 30px 0px 0px 0px;
}

h5 {
  color: rgb(107, 104, 104);
  padding-top: 5px;
}

* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

* a {
  text-decoration: none;
}

body {
  margin: auto;
  box-sizing: border-box;
  max-width: 768px;
  width: auto;
}
@media screen and (min-width: 768px) {
  body {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    max-width: 1440px;
  }
}

.fonctionnement, .restaurants, .footer {
  padding-left: 20px;
  padding-right: 20px;
}

.restaurants__img--img {
  width: 100%;
  height: 170px;
}

.header {
  width: 100%;
  height: 60px;
}
.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*taille des images des restaurants*/
.image_palette, .image_enchantee, .image_delice, .image_francaise {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .restaurants__card {
    width: 25%;
    max-width: 1400px;
  }
  .fonctionnement__title, .restaurants__title {
    text-align: center;
  }
  .restaurant__title, p {
    margin: auto;
  }
  .fonctionnement__steps {
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 80px;
    max-width: 1440px;
  }
  .menu {
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .restaurants__card {
    height: 263px;
  }
  .starters__choice, .deserts__choice, .maincourse__choice {
    width: 620px;
  }
}
/* partie localisation inactive dans cette version*/
.location {
  background-color: #cbc6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.fa-location-dot {
  background-color: #cbc6c6;
}

.location, #location__search, #location__form {
  border: none;
  height: 18px;
  padding-left: 8px;
  background-color: #cbc6c6;
}

input::placeholder {
  color: black;
  padding-left: 10px;
  font-size: 18px;
}

/*page principale*/
.loader {
  position: fixed;
  z-index: 20; /* index élevé pour être sur qu'il recouve tous les éléments de la pages*/
  inset: 0; /* pour partir de tous les bords de la page sans margin*/
  background: white;
  height: 100vh; /* pour qu'il prenne toute la hauteur de la page*/
  opacity: 0.9; /* rendre le background légèrement transparent*/
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disappear 0.5s; /*pour qu'il disparaisse en 0.5s*/
  animation-delay: 2s; /* pour qu'il tourne pdt 2s*/
  animation-fill-mode: forwards; /*pour qu'il revienne à la page d'accueil */
  transform-origin: top; /* pour commencer en haut de la page*/
}
.loader__dot1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 20px;
  animation: loader infinite 0.3s alternate;
  background: #9356DC;
  animation-delay: 0s;
}
.loader__dot2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 20px;
  animation: loader infinite 0.3s alternate;
  background: #FF79DA;
  animation-delay: 0.2s;
}
.loader__dot3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 20px;
  animation: loader infinite 0.3s alternate;
  background: #99E2D0;
  animation-delay: 0.3s;
}

/*header de la page principale avec juste le logo*/
header {
  background-color: white;
  padding: 5px 0px;
  width: 100%;
  text-decoration: none;
}
header .header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header h1 {
  display: flex;
  align-items: center;
  color: black;
}

/*partie avec les explications de la page */
.reservation {
  background-color: #ecedf1;
  text-align: center;
  padding-bottom: 30px;
}
.reservation__title {
  padding: 20px 30px;
  font-weight: bold;
}
.reservation__sub {
  padding: 0px 20px;
  color: grey;
}
.reservation__input {
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 10px 10px 0px rgba(160, 156, 156, 0.6);
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  margin-top: 25px;
  color: white;
  font-weight: bold;
}
.reservation__input:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0px 10px 10px 0px rgba(79, 78, 78, 0.6);
}

/* étapes de fonctionnement du site */
.fonctionnement {
  padding-top: 40px;
}
.fonctionnement__title {
  font-weight: bold;
}
.fonctionnement__steps {
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
}
.fonctionnement__step {
  display: flex;
  align-items: center;
  gap: 0px 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 50px;
  box-shadow: 0px 1px 1px grey;
  padding: 15px 15px 15px 0px;
  margin-top: 20px;
}
.fonctionnement__step:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0px 10px 10px 0px rgba(79, 78, 78, 0.6);
  background: #e9ddf8;
}
.fonctionnement__step:hover .fa-list-dots, .fonctionnement__step:hover .fa-mobile-screen-button, .fonctionnement__step:hover .fa-store {
  color: #9356DC;
}
.fonctionnement__number { /* les nombres entourés des étapes*/
  border: 1px solid #9356DC;
  background-color: #9356DC;
  color: white;
  margin-left: -15px; /*position à cheval sur border*/
  border-radius: 100px;
  padding: 2px 8px;
}

/* les icones de la liste de la partie fonctionnement*/
.fa-list-dots, .fa-mobile-screen-button, .fa-store {
  color: grey;
}

/*partie avec les card des restaurants*/
.restaurants__cards, .restaurants a {
  display: flex;
  flex-direction: column;
  gap: 15px 20px;
  padding: 20px 0px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .restaurants__cards, .restaurants a {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    max-width: 1440px;
    margin: 40px 0px;
  }
}
.restaurants__card {
  border: 1px solid rgb(239, 235, 235);
  box-shadow: 1px 5px 3px 0px rgb(200, 194, 194);
  border-radius: 15px;
  background-color: white;
  position: relative;
  background-color: rgb(244, 241, 241);
  width: 100%;
}
.restaurants__img--img {
  position: relative;
  object-fit: cover;
  z-index: 10;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__maj {
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  border-radius: 2px;
  color: rgb(20, 111, 20);
  font-weight: bold;
  font-size: 13px;
  width: 70px;
  text-align: center;
  padding: 3px;
  z-index: 11;
  position: absolute;
  top: 20px; /*position de la div nouveau sur l'image */
  right: 20px;
}
.restaurants__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 10px;
  color: black;
  border-radius: 0px 0px 20px 20px;
}

/*footer de la page principale*/
.footer {
  color: white;
  background-color: rgb(78, 75, 75);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 10px;
}
.footer__title {
  font-size: 25px;
  padding: 10px 0px;
}
.footer__propose {
  display: flex;
  gap: 0px 15px;
  padding: 4px 0px;
}
.footer__partenaire {
  display: flex;
  gap: 0px 8px;
  padding: 4px 0px;
}
.footer__mention {
  padding: 4px 0px;
}
.footer__contact, .footer a {
  text-decoration: none;
  color: white;
  padding: 4px 10px 0px 0px;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    max-width: 1440px;
  }
}

/*scss pour les pages des cartes des restaurants*/
.header {
  position: relative;
  z-index: 10;
  background-color: white;
  padding: 5px 0px;
  width: 100%;
  text-decoration: none;
}
.header .header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header h1 {
  display: flex;
  align-items: center;
  color: black;
}
.header__return {
  position: absolute;
  border: none;
  z-index: 11;
  top: 20px;
  left: 30px;
  background-color: white;
}
.header .fa-arrow-left {
  color: black;
  font-size: 30px;
}

.restaurant {
  background-color: rgb(244, 241, 241);
  padding-bottom: 25px;
}
.restaurant__title { /*nom du restaurant*/
  font-family: "Shrikhand", sans-serif;
  font-size: 26px;
  position: relative;
  border: 1px solid rgb(244, 241, 241);
  background-color: rgb(244, 241, 241);
  border-radius: 30px 30px 0px 0px;
  padding: 0px 20px;
  margin-top: -50px; /*pour remonter sur la photo*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

/*organisation des 3 parties entrées,plats, desserts */
.menu {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

/*le coeur*/
.fa-heart { /*de base*/
  cursor: pointer;
  margin-right: 20px;
  font-size: 25px;
  color: rgb(244, 241, 241);
  filter: drop-shadow(0px 0px 1px black);
}

.fa-heart:hover {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: transparent;
  transition: 0.5s;
  filter: drop-shadow(0px 0px 1px transparent);
}

/* animation du check vert sur les choix*/
.fa-check {
  color: #99E2D0;
  border: 1px white solid;
  background-color: white;
  border-radius: 100px;
  padding: 2px;
  margin: auto;
  font-size: 20px;
}

/*les choix des menus */
.starters, .deserts, .maincourse {
  display: flex;
  flex-direction: column;
  gap: 15px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.starters__title, .deserts__title, .maincourse__title { /* les noms entrées, plats, desserts*/
  padding: 30px 0px 0px 0px;
  color: grey;
  text-transform: uppercase;
}
.starters__title--greenline, .deserts__title--greenline, .maincourse__title--greenline {
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
}
.starters__choice, .deserts__choice, .maincourse__choice { /*l'encadré de choix */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  position: relative;
  border: 1px solid rgb(239, 235, 235);
  box-shadow: 1px 5px 3px 0px rgb(200, 194, 194);
  border-radius: 15px;
  background-color: white;
  animation: appear 1s;
}
.starters__choice:nth-child(1), .deserts__choice:nth-child(1), .maincourse__choice:nth-child(1) {
  animation-delay: 100ms;
}
.starters__choice:nth-child(2), .deserts__choice:nth-child(2), .maincourse__choice:nth-child(2) {
  animation-delay: 200ms;
}
.starters__choice:nth-child(3), .deserts__choice:nth-child(3), .maincourse__choice:nth-child(3) {
  animation-delay: 300ms;
}
.starters__choice:nth-child(4), .deserts__choice:nth-child(4), .maincourse__choice:nth-child(4) {
  animation-delay: 400ms;
}
.starters__choice:nth-child(5), .deserts__choice:nth-child(5), .maincourse__choice:nth-child(5) {
  animation-delay: 500ms;
}
.starters__choice--infos, .deserts__choice--infos, .maincourse__choice--infos { /* noms des plats et prix */
  padding: 10px 0px 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.starters__choice--name, .starters__choice--descr, .deserts__choice--name, .deserts__choice--descr, .maincourse__choice--name, .maincourse__choice--descr {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.starters__choice--price, .deserts__choice--price, .maincourse__choice--price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding-bottom: 15px;
  padding-left: 10px;
}
.starters__choice--check, .deserts__choice--check, .maincourse__choice--check { /*animation de check */
  flex-shrink: 0;
  background-color: #99E2D0;
  margin-right: -70px; /*pour qu'il sorte du champ*/
  margin-left: 15px;
  width: 70px;
  display: flex;
  height: 70px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0 14px 14px 0;
  transition: margin-right 0.5s;
}
.starters__choice:hover, .deserts__choice:hover, .maincourse__choice:hover { /* pour que l'animation arrive de la droite*/ }
.starters__choice:hover .starters__choice--check,
.starters__choice:hover .maincourse__choice--check,
.starters__choice:hover .deserts__choice--check, .deserts__choice:hover .starters__choice--check,
.deserts__choice:hover .maincourse__choice--check,
.deserts__choice:hover .deserts__choice--check, .maincourse__choice:hover .starters__choice--check,
.maincourse__choice:hover .maincourse__choice--check,
.maincourse__choice:hover .deserts__choice--check {
  cursor: pointer;
  margin-right: 0px;
}
.starters__choice:hover .fa-check, .deserts__choice:hover .fa-check, .maincourse__choice:hover .fa-check { /* pour que le check tourne*/
  animation: checkspin 0.5s ease;
}

/*pour écarter le nom "plats" du bord*/
.maincourse__title {
  padding-left: 30px;
}

/*bouton commander sur le menu*/
.command {
  display: flex;
  margin: auto;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 10px 10px 0px rgba(160, 156, 156, 0.6);
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  margin-top: 25px;
  color: white;
  font-weight: bold;
}
.command:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 0px 10px 10px 0px rgba(79, 78, 78, 0.6);
}

/*mise en page du footer des pages des restaurants*/
.footer {
  color: white;
  background-color: rgb(78, 75, 75);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 10px;
}
.footer__title {
  font-size: 25px;
  padding: 10px 0px;
}
.footer__propose {
  display: flex;
  gap: 0px 15px;
  padding: 4px 0px;
}
.footer__partenaire {
  display: flex;
  gap: 0px 8px;
  padding: 4px 0px;
}
.footer__mention {
  padding: 4px 0px;
}
.footer__contact, .footer a {
  text-decoration: none;
  color: white;
  padding: 4px 10px 0px 0px;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    max-width: 1440px;
  }
}

/*# sourceMappingURL=style.css.map */
