/*page principale*/
.loader{
    position: fixed;
    z-index: 20; /* index élevé pour être sur qu'il recouve tous les éléments de la pages*/
    inset: 0; /* pour partir de tous les bords de la page sans margin*/
    background: white;
    height: 100vh; /* pour qu'il prenne toute la hauteur de la page*/
    opacity: 0.9; /* rendre le background légèrement transparent*/
    display: flex;
    align-items: center;
    justify-content: center;
    animation: disappear 0.5s; /*pour qu'il disparaisse en 0.5s*/
    animation-delay: 2s; /* pour qu'il tourne pdt 2s*/
    animation-fill-mode: forwards; /*pour qu'il revienne à la page d'accueil */
    transform-origin: top; /* pour commencer en haut de la page*/
&__dot1{
    @include loader_dots;
    background: $primary;
    animation-delay: 0s;
    }
&__dot2{
    @include loader_dots;
    background: $secondary;
    animation-delay: 0.2s;
    }
&__dot3{
    @include loader_dots;
    background: $tertiary;
    animation-delay: 0.3s;
    }
}
/*header de la page principale avec juste le logo*/
header{
    @include header;
 }
 /*partie avec les explications de la page */
.reservation{
    background-color: $bg-reservation;
    text-align: center; 
    padding-bottom: 30px;
    &__title{
        padding: 20px 30px;
        font-weight: bold;
    }
    &__sub{
        padding: 0px 20px;
        color: grey;
    }
    &__input{
        @include buttons_style;
        &:hover{
            @include buttons_hover;
        }
    }
}
/* étapes de fonctionnement du site */
.fonctionnement{
    padding-top: 40px;
    &__title{
        font-weight: bold;
    }
    &__steps{
        display: flex;
        flex-direction: column;
        margin:40px 0px;
    }
    &__step{
        display: flex;
        align-items: center;
        gap: 0px 20px;
        background-color:$bg-fonctionnement;
        border-radius: 50px;
        box-shadow: 0px 1px 1px grey ;
        padding: 15px 15px 15px 0px;
        margin-top: 20px;
        &:hover{
            @include buttons_hover;
            background:lighten($primary,32%);
            & .fa-list-dots,.fa-mobile-screen-button,.fa-store{
                color: $primary;
            }
        }
    }
    &__number{ /* les nombres entourés des étapes*/
        border:1px solid $primary ;
        background-color: $primary;
        color: white;
        margin-left: -15px; /*position à cheval sur border*/
        border-radius: 100px;
        padding:2px 8px;
    }
}
/* les icones de la liste de la partie fonctionnement*/
.fa-list-dots,.fa-mobile-screen-button,.fa-store{
    color: grey;
}
/*partie avec les card des restaurants*/
.restaurants{
    &__cards, a{
        @include flex_column;
        padding: 20px 0px;
        width: 100%;
        @include cards; 
    }
    &__card{
        @include border-box;
        position: relative;
        background-color: $bg-main;
        width: 100%; 
    }
    &__img--img{
        position: relative;
        object-fit: cover;
        z-index: 10;
        border-radius:20px 20px 0px 0px;
    }
    &__maj{
        border: 1px solid $tertiary;
        background-color: $tertiary;
        border-radius: 2px;
        color: rgb(20, 111, 20);
        font-weight: bold;
        font-size: 13px;
        width:70px;
        text-align: center;
        padding: 3px;
        z-index: 11;
        position: absolute;
        top:20px;       /*position de la div nouveau sur l'image */
        right: 20px;
    }
    &__infos{
        display: flex;
        justify-content: space-between ;
        align-items: center;
        padding:10px 0px 10px 10px;
        color: black;
        border-radius: 0px 0px 20px 20px;
    } 
}

/*footer de la page principale*/
.footer{
    @include footer;
    @include tablette;
}