/*scss pour les pages des cartes des restaurants*/
.header{
    position: relative;
    z-index: 10;
    @include header;
    &__return{
        position: absolute;
        border: none;
        z-index: 11;
        top: 20px;
        left: 30px;
        background-color:white
    }
    .fa-arrow-left{
        color: black;
        font-size: 30px;
    }
}

.restaurant{
    background-color: $bg-main;
    padding-bottom: 25px;
    &__title{
    font-family: 'Shrikhand', sans-serif;
    font-size: 26px;
    position: relative;
    border:1px solid $bg-main;
    background-color: $bg-main;
    border-radius: 30px 30px 0px 0px;
    padding: 0px 20px;
    margin-top: -50px;
    @include restaurants_name;
    }
}    
    
.menu{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    @include tablette;
}

/*le coeur*/
.fa-heart{  /*de base*/
    cursor: pointer;
    margin-right: 20px;
    font-size: 25px;
    color: $bg-main;
    filter: drop-shadow(0px 0px 1px black);
}

.fa-heart:hover{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: $linear-gradient;
    color: transparent;
    transition: 0.5s;
    filter: drop-shadow(0px 0px 1px transparent);
}

/* animation du check vert sur les choix*/
.fa-check{
    color: $tertiary;
    border: 1px white solid;
    background-color: white;
    border-radius: 100px;
    padding: 2px;
    margin: auto;
    font-size: 20px;
}

.starters, .deserts, .maincourse{
    @include flex_column;
    text-overflow: ellipsis;
    white-space: nowrap;
    &__title{
        padding: 30px 0px 0px 0px;
        color: grey;
        text-transform: uppercase;
            &--greenline{
            width: 45px;
            height: 3px;
            background-color: $tertiary;
            }
    }
    &__choice{
        @include ckeck-ellipsis;
        @include menu_choices_display;
        @include border-box;
        animation: appear 1s;
        @for $i from 1 through 5{
            &:nth-child(#{$i}){
                animation-delay: 100ms *$i;
            }
        }
        &--infos{
            padding:10px 0px 10px 20px;
            @include ckeck-ellipsis;
        }
        &--name, &--descr{
            @include ckeck-ellipsis;
        }
        &--price{
            @include prices; 
        }
        &--check{
            flex-shrink: 0;
            background-color: $tertiary;
            margin-right: -70px; /*pour qu'il sorte du champ*/
            margin-left: 15px;
            width: 70px;
            display: flex;
            height: 70px;
            text-align: center;
            align-items: center;
            justify-content: center;
            border-radius: 0 14px 14px 0;
            transition: margin-right 0.5s;
        }
        &:hover{
            .starters__choice--check,
            .maincourse__choice--check, 
            .deserts__choice--check{
            cursor: pointer;
            margin-right: 0px;
            }
            .fa-check{
                animation: checkspin 0.5s ease;
            }
        }
    } 
}

/*pour écarter le nom "plats" du bord*/
.maincourse__title{
    padding-left: 30px; 
}

.command{
    display: flex;
    margin:auto;
    @include buttons_style;
    &:hover{
        @include buttons_hover;
    }
}

.footer{
    @include footer;
    @include tablette;
}
 
