@media screen and (min-width: map-get($breakpoints,mobile)){
.restaurants__card{
    width: 25%;
    max-width: 1400px;
}
.fonctionnement__title, .restaurants__title{
    text-align: center;
}

.restaurant__title, h1{
   margin: auto;
}
}
@media screen and (min-width: map-get($breakpoints,mobile)) 
and (max-width: map-get($breakpoints,tablette)){
.restaurants__card{
    height: 263px;
}
}