$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;

$linear-gradient: linear-gradient(#ff79da, #9356dc);

$bg-location:#cbc6c6;
$bg-reservation:#ecedf1;
$bg-fonctionnement:rgb(245, 245, 245);
$bg-main:rgb(244, 241, 241);
$bg-footer:rgb(78, 75, 75)
